@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap');


:root {
  --pale-brown: #E1D0BF;
  --white: #ffffff;
  --brown: #C99288;
}

body {
  margin: 0;
  font-family: 'Red Rose', serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pale-brown);
  color: var(--brown);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  padding: 12px 2px 40px 2px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}